.patient-header {
  padding: 1.25rem 1.5rem;
  background-color: #EFF4FF;
}

.grid-patient{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  .buttons-section{
    justify-self:right;
  }
}
