<div class="patient-header py-4 px-4">
  <div class="grid-patient">
    <div>
      <span class="text-sm md:text-xl font-bold">Nacim Shehin</span>
      <div class="mt-2">
        <i class="inline-block text-xs pi pi-plus-circle text-primary"></i><span class="ml-2 inline-block text-xs">ID:648494904</span>
        <i class="inline-block text-xs ml-4 pi pi-user text-primary"></i><span class="ml-2 inline-block text-xs">Masculino</span>
        <i class="inline-block text-xs ml-4 pi pi-calendar text-primary"></i><span class="ml-2 inline-block text-xs">47 años</span>
        <i class="inline-block text-xs ml-4 pi pi-calendar text-primary"></i><span class="ml-2 inline-block text-xs">3 de Agosto 1989</span>
      </div>
    </div>
    <div class="buttons-section">
      <div class="mr-4 inline-flex justify-content-center align-items-center flex-column">
        <i class="pi pi-print text-primary font-bold"></i>
        <span class="text-xs text-primary font-bold">Imprimir</span>
      </div>
      <p-button label="Regresar" styleClass="p-button-sm p-button-secondary mr-2" [routerLink]="['../']"></p-button>
      <p-button label="Ver datos del paciente" styleClass="p-button-sm" [routerLink]="['detalles']"></p-button>
    </div>
  </div>
</div>

