<div class="resumen grid grid-nogutter">
  <div class="buscador  border-1 border-black-alpha-10 border-top-none border-left-none col-12 lg:col-4">
    <div class="input h-4rem flex align-items-center pl-4 justify-content-center">
      <div class="p-input-icon-left w-full">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Buscar"/>
      </div>
    </div>
    <div>
      <div class="flex p-4 bg-white border-bottom-1 border-black-alpha-10">
        <i class="pi pi-calendar text-sm text-primary font-bold"></i>
        <div class="flex flex-column ml-2">
          <span class="text-base font-bold">Consulta</span>
          <span class="inline-block mt-1 text-sm">5 - Septiembre - 2022</span>
        </div>
      </div>
      <div class="flex p-4 bg-white border-bottom-1 border-black-alpha-10">
        <i class="pi pi-calendar text-sm text-primary font-bold opacity-40"></i>
        <div class="flex flex-column ml-2  opacity-40">
          <span class="text-base font-bold">Consulta</span>
          <span class="inline-block mt-1 text-sm">5 - Septiembre - 2022</span>
        </div>
      </div>
      <div class="flex p-4 bg-white border-bottom-1 border-black-alpha-10">
        <i class="pi pi-calendar text-sm text-primary font-bold opacity-40"></i>
        <div class="flex flex-column ml-2  opacity-40">
          <span class="text-base font-bold">Consulta</span>
          <span class="inline-block mt-1 text-sm">5 - Septiembre - 2022</span>
        </div>
      </div>
    </div>
  </div>
  <div class="factores-riesgo col-12 lg:col-8 border-1 border-black-alpha-10 border-top-none">
    <div class="factores-riesgo__header h-4rem flex align-items-center pl-6">
      <span class="text-primary font-bold">Factores de riesgo / Juicios Diagnósticos</span>
    </div>
    <div class="bg-white p-4 pt-2 px-6">
      <div class="py-4 pt-2 border-bottom-1 border-black-alpha-10">
        <p class="text-sm">Diabetes mellitus tipo 1, con complicaciones oftálmicas </p>
      </div>
      <div class="py-4 pt-2 border-bottom-1 border-black-alpha-10">
        <p class="text-sm">Diabetes mellitus tipo 1, con complicaciones oftálmicas </p>
      </div>
    </div>
  </div>
</div>

