<div class="p-3">
  <p-breadcrumb styleClass="bg-transparent border-none p-0 text-xs lg:text-base" class="block mb-4"
                [model]="items"></p-breadcrumb>
  <div class="flex flex justify-content-between align-items-center">
    <p-button label="Cancelar" styleClass="p-button-sm p-button-secondary mr-2" [routerLink]="['../']"></p-button>
  </div>
  <p-panel class="block mt-2" header="Crear paciente">
    <div class="content">
      <div class="formgrid grid">
        <div class="field col-12 lg:col-3">
          <label for="nombre" class="font-bold text-sm req">Nombre:</label>
          <input id="nombre" type="text" pInputText class="p-inputtext-sm w-full">
        </div>
        <div class="field col-12 lg:col-3">
          <label for="primerApellido" class="font-bold text-sm req">Primer apellido:</label>
          <input id="primerApellido" type="text" pInputText class="p-inputtext-sm w-full">
        </div>
        <div class="field col-12 lg:col-3">
          <label for="segundoApellido" class="font-bold text-sm req">Segundo apellido:</label>
          <input id="segundoApellido" type="text" pInputText class="p-inputtext-sm w-full">
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col-12 lg:col-3">
          <label for="telefono" class="font-bold text-sm req">Teléfono:</label>
          <input id="telefono" type="text" pInputText class="p-inputtext-sm w-full">
        </div>
        <div class="field col-12 lg:col-3">
          <label class="font-bold text-sm req">Fecha de nacimiento</label>
          <p-calendar styleClass="w-full" [showIcon]="true"></p-calendar>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col-12 lg:col-3">
          <label for="direccion" class="font-bold text-sm">Dirección:</label>
          <input id="direccion" placeholder="Calle, número, colonia" type="text" pInputText
                 class="p-inputtext-sm w-full">
        </div>
        <div class="field col-12 lg:col-3">
          <label class="font-bold text-sm">País:</label>
          <p-dropdown [options]="[ {name: 'México', code: 'MX'},{name: 'España', code: 'SP'},]"
                      styleClass="w-full p-inputtext-sm"
                      optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col-12 lg:col-3">
          <label for="codigoPostal" class="font-bold text-sm">Código postral:</label>
          <input id="codigoPostal" type="text" pInputText class="p-inputtext-sm w-full">
        </div>
        <div class="field col-12 lg:col-3">
          <label for="curp" class="font-bold text-sm">CURP:</label>
          <input id="curp" type="text" pInputText class="p-inputtext-sm w-full">
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col-12 lg:col-3">
          <label for="poblacion" class="font-bold text-sm">Población:</label>
          <input id="poblacion" type="text" pInputText class="p-inputtext-sm w-full">
        </div>
        <div class="field col-12 lg:col-3">
          <label for="rfc" class="font-bold text-sm">RFC:</label>
          <input id="rfc" type="text" pInputText class="p-inputtext-sm w-full">
        </div>
      </div>
      <div class="mt-2 my-4">
        <span class="req font-bold text-sm text-base text-primary">Campos obligatorios</span>
      </div>
    </div>
  </p-panel>

  <div class="flex flex justify-content-end align-items-center my-4">
    <p-button label="Cancelar" styleClass="p-button-sm p-button-secondary mr-2 w-10rem" [routerLink]="['../']"></p-button>
    <p-button label="Crear paciente" styleClass="p-button-sm p-button-primary w-10rem"></p-button>
  </div>


</div>
