<div class="info-doctor py-2 px-3">
  <div class="flex align-items-center">
    <!--    <app-sidebar-perfil-doctor></app-sidebar-perfil-doctor>-->
    <div class="flex flex-column">
      <span class="text-primary text-sm md:text-xl font-bold">Dr. Shehin de Silva</span>
      <span class="text-xs sm:text-sm font-bold">Servicio de torre de consultorios Universidad / 3000-01</span>
    </div>
  </div>
  <div class="flex align-items-center justify-content-end sm:gap-4 logos">
    <i class="pi pi-question-circle hidden md:flex text-primary sm:text-2xl"></i>
    <img class="common" src="../../../../../../assets/images/common-ech.svg" alt="" width="50" height="35">
    <img class="hospital" src="../../../../../../assets/images/hospital-angeles.svg" alt="" width="50" height="35">
    <i class="pi pi-ellipsis-v text-primary text-2xl font-bold" (click)="display = !display"></i>
    <!--    <div class="flex flex-wrap gap-2 icons">-->
    <!--      <i class="pi pi-bell mr-2 sm:mr-4 p-text-secondary text-2xl" pBadge value="2"></i>-->
    <!--      <i class="pi pi-envelope mr-2 sm:mr-4  p-text-secondary text-2xl" pBadge [value]="'9+'" severity="danger"></i>-->
    <!--      <i class="pi pi-calendar mr-1 p-text-secondary text-2xl" ></i>-->
    <!--    </div>-->
  </div>
</div>

<p-sidebar [(visible)]="display" position="right">
  <div class="sidebar flex flex-column h-full">
    <div class="flex align-items-center flex-column flex-grow-1">
      <p-avatar class="avatar my-4" image="assets/images/avatar.png" styleClass="mr-2" size="xlarge"
                shape="circle"></p-avatar>
      <h3 class="mt-2">Dr Shehin de Silva</h3>
      <span class="block mt-4">Usuario:</span>
      <span class="block font-semibold">shehinsilva</span>
      <span class="block mt-4">Correo:</span>
      <span class="block font-semibold">shehinsilva@hangeles.com</span>
      <span class="block mt-4">Teléfono:</span>
      <span class="block font-semibold">(425) 555-1212</span>
      <p-button styleClass="mt-4 p-button-sm" label="Editar"></p-button>
    </div>
    <div class="flex justify-content-center">
      <p-button (click)="closeSession()" pRipple icon="pi pi-sign-out"
                styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
    </div>
  </div>
</p-sidebar>
