<div class="px-4 py-5 md:px-6 lg:px-8">
  <div class="flex flex justify-content-between align-items-center">
    <button [routerLink]="['../../']" pButton pRipple type="button" label="Back to Hospitals"
            class="bg-white p-button-outlined p-button-secondary"></button>
    <button pButton pRipple type="button" label="Add patient"
            class="bg-white p-button-outlined p-button-primary"></button>
  </div>

  <p-card class="block mt-4">
    <div class="flex justify-content-between align-items-center">
      <h2>Hospital Ángeles</h2>
    </div>
    <p-table class="mt-4 block" [value]="patients" responsiveLayout="stack" [breakpoint]="'960px'"
             [tableStyle]="{'min-width': '20rem'}">
      <ng-template pTemplate="caption">
        <div class="caption-table block sm:flex justify-content-between align-items-center">
          <div class="mb-3 sm:mb-0">
            <h2>Patients</h2>
          </div>
          <div>
            <div class="p-input-icon-left ml-auto w-full">
              <i class="pi pi-search"></i>
              <input pInputText type="text" class="w-full"
                     placeholder="Search patient"/>
            </div>
          </div>
        </div>

      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Birthdate</th>
          <th>Data1</th>
          <th>No. Hist</th>
          <th>Room</th>
          <th>Data2</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>{{patient.name}}</td>
          <td>{{patient.birthdate}}</td>
          <td>{{patient.dato1}}</td>
          <td>{{patient.history}}</td>
          <td>{{patient.room}}</td>
          <td>{{patient.data}}</td>
          <td>
            <button [routerLink]="[17]" pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-outlined"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>


</div>
