<div class="px-4 py-5 md:px-6 lg:px-8">
  <div class="flex flex justify-content-between align-items-center">
    <button [routerLink]="['../../']" pButton pRipple type="button" label="Back to Hospitals"
            class="bg-white p-button-outlined p-button-secondary"></button>
    <button pButton pRipple type="button" label="Add patient"
            class="bg-white p-button-outlined p-button-primary"></button>
  </div>

  <p-card class="block mt-4">
    <div class="flex justify-content-between align-items-center">
      <h3>Roma</h3>
    </div>
    <p-table class="mt-4 block" [value]="patients" responsiveLayout="stack" [breakpoint]="'960px'"
             [tableStyle]="{'min-width': '20rem'}">
      <ng-template pTemplate="caption">
        <div class="caption-table block sm:flex justify-content-between align-items-center">
          <div class="mb-3 sm:mb-0">
            <h3>Patients</h3>
          </div>
          <div>
            <div class="p-input-icon-left ml-auto w-full">
              <i class="pi pi-search"></i>
              <input pInputText type="text" class="w-full"
                     placeholder="Search patient"/>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Birthdate</th>
          <th>Age</th>
          <th>No. Hist</th>
          <th>Room</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>
            <span class="p-column-title font-bold">Name:</span>
            <span>{{patient.name}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Birthdate:</span>
            <span> {{patient.birthdate}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Age:</span>
            <span>{{patient.age}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">No. Hist:</span>
            <span>{{patient.history}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Room:</span>
            <span> {{patient.room}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Gender:</span>
            <span>{{patient.gender}}</span>
          </td>
          <td>
            <div class="flex justify-content-center align-items-center w-full">
              <button [routerLink]="[17]" pButton pRipple type="button" icon="pi pi-search"
                      class="p-button-rounded p-button-outlined"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>


</div>
