<div class="p-3">
  <p-panel class="block mt-3" header="Medicación">
    <div class="formgrid grid">
      <div class="field col-12 lg:col-3">
        <label class="font-bold text-sm">Alergias:</label>
        <textarea pInputTextarea class="p-inputtext-sm w-full no-resize"></textarea>
      </div>
    </div>
    <div class="flex justify-content-center align-items-center">
      <p-button label="Seleccionar medicamento" styleClass="p-button-sm" (click)="showDialog = true"></p-button>
    </div>

    <p-accordion class="block mt-4">
      <p-accordionTab header="BALON DILATADOR URETERAL 4MX 4 EQD0404">
        <div class="formgrid grid">
          <div class="field col-12 lg:col-2">
            <label for="nombre" class="font-bold text-sm req">Vía:</label>
            <input id="nombre" type="text" pInputText class="p-inputtext-sm w-full">
          </div>
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Dosis:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Cantidad:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Frecuencia:</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Por razón necesaria:</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Velocidad (ml/h):</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>

        </div>
        <div class="formgrid grid">
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Duración:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'DIAS', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Comentario:</label>
            <textarea pInputTextarea class="p-inputtext-sm w-full no-resize"></textarea>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Crónico:</label>
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Receta:</label>
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Fecha inicio:</label>
            <p-calendar styleClass="w-full" [showIcon]="true"></p-calendar>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="CEFURACET TAB 500MG">
        <div class="formgrid grid">
          <div class="field col-12 lg:col-2">
            <label for="nombre" class="font-bold text-sm req">Vía:</label>
            <input id="nombre" type="text" pInputText class="p-inputtext-sm w-full">
          </div>
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Dosis:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Cantidad:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Frecuencia:</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Por razón necesaria:</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Velocidad (ml/h):</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>

        </div>
        <div class="formgrid grid">
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Duración:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'DIAS', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Comentario:</label>
            <textarea pInputTextarea class="p-inputtext-sm w-full no-resize"></textarea>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Crónico:</label>
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Receta:</label>
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Fecha inicio:</label>
            <p-calendar styleClass="w-full" [showIcon]="true"></p-calendar>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="PARACETAMOL SOL 100MG/ML FCO GTS 20ML">
        <div class="formgrid grid">
          <div class="field col-12 lg:col-2">
            <label for="nombre" class="font-bold text-sm req">Vía:</label>
            <input id="nombre" type="text" pInputText class="p-inputtext-sm w-full">
          </div>
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Dosis:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Cantidad:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Frecuencia:</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Por razón necesaria:</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Velocidad (ml/h):</label>
            <p-dropdown [options]="[ {name: 'UN', code: 'MX'}]"
                        styleClass="w-full p-inputtext-sm"
                        optionLabel="name"></p-dropdown>
          </div>

        </div>
        <div class="formgrid grid">
          <div class="col-12 lg:col-2 flex">
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm ">Duración:</label>
              <input type="text" pInputText class="p-inputtext-sm w-full">
            </div>
            <div class="flex-grow-1 field">
              <label class="font-bold text-sm">Unidades:</label>
              <p-dropdown [options]="[ {name: 'DIAS', code: 'MX'}]"
                          styleClass="w-full p-inputtext-sm"
                          optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm">Comentario:</label>
            <textarea pInputTextarea class="p-inputtext-sm w-full no-resize"></textarea>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Crónico:</label>
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Receta:</label>
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </div>
          <div class="field col-12 lg:col-2">
            <label class="font-bold text-sm block">Fecha inicio:</label>
            <p-calendar styleClass="w-full" [showIcon]="true"></p-calendar>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>

  </p-panel>

  <div class="flex flex justify-content-end align-items-center my-4">
    <p-button label="Cancelar" styleClass="p-button-sm p-button-secondary mr-2" [routerLink]="['../medicacion']"></p-button>
    <p-button label="Guardar" styleClass="p-button-sm p-button-primary"></p-button>
  </div>
</div>

<p-dialog header="Selección de medicamentos" [(visible)]="showDialog" [style]="{width: '95vw'}" [modal]="true"
          [resizable]="false"
          [closable]="false">
  <ng-template pTemplate="content">
    <div class="grid mb-2 lg:mb-0">
      <div class="col-12 lg:col-6 flex">
        <input type="text" pInputText placeholder="Search" class="p-inputtext-sm flex-grow-1">
        <p-button label="Buscar medicamento" class="inline-block lg:ml-4 lg:mr-5" styleClass="p-button-sm"></p-button>
      </div>
    </div>
    <p-pickList [source]="sourceItems" [target]="targetItems" sourceHeader="Medicamentos disponibles"
                targetHeader="Medicamentos seleccionados"
                [dragdrop]="true"
                [responsive]="true" [sourceStyle]="{'height':'30rem','padding':0}" [targetStyle]="{'height':'30rem'}"
                filterBy="name" [showSourceControls]="false" [showTargetControls]="false" [showSourceFilter]="false"
                [showTargetFilter]="false">
      <ng-template let-item pTemplate="item">
        <div class="item border-1 border-black-alpha-10 p-2">
          <div>
            <span class="font-bold text-base block lg:inline-block">Nombre:</span>
            <span class="lg:ml-1 text-base block lg:inline-block">{{item.nombre}}</span>
          </div>
          <div class="grid mt-1">
            <div class="col">
              <span class="font-bold text-base block lg:inline-block">Código:</span>
              <span class="lg:ml-1 text-base block lg:inline-block">{{item.codigo}}</span>
            </div>
            <div class="col">
              <span class="font-bold text-base block lg:inline-block">Uid externo:</span>
              <span class="lg:ml-1 text-base block lg:inline-block">{{item.uidExterno}}</span>
            </div>
          </div>
        </div>
      </ng-template>
    </p-pickList>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button (click)="showDialog=false" label="Cancelar" styleClass="p-button-sm p-button-secondary mr-2"></p-button>
    <p-button (click)="showDialog=false" label="Confirmar" styleClass="p-button-sm p-button-primary"></p-button>
  </ng-template>
</p-dialog>
