nav {
  height: 72px;
  overflow: hidden;
}

li {
  list-style: none;

  a {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 12.5px;
    font-weight: 600;
    opacity: .4;
    text-decoration: none;
    color: var(--surface-0);

    &:hover, &.active {
      opacity: 1;

      &::after {
        position: absolute;
        left: 0;
        bottom: 27.5%;
        transform: scaleX(.7);
        content: '';
        display: inline-block;
        height: 2px;
        background-color: white;
        width: 100%;
      }
    }
  }

}

.last {
  a {
    opacity: 1;
  }
}
