<div class="bg-primary p-3 lg:hidden">
  <span class="text-white font-bold text-sm">Episodio actual</span>
</div>
<div class="border-top-1 border-black-alpha-10">
  <div>
    <div class="header p-3  border-top-1 border-black-alpha-10">
      <span class="font-bold text-primary text-sm">Lunes 5 de Agosto 2022</span>
    </div>
    <div class="flex gap-3 p-3 border-bottom-1 border-black-alpha-10">
      <div>
        <span class="font-bold text-sm">12:34</span>
      </div>
      <div class="flex flex-column flex-1">
        <div class="flex justify-content-between">
          <div>
            <span class="font-bold text-sm">Dr. Paola Leal</span>
            <span class="text-sm"> - Consultorio</span>
          </div>
          <div>
            <p-button label="Editar" styleClass="p-button-sm py-1"></p-button>
          </div>
        </div>
        <div>
          <span class="text-primary text-sm">Evolutivo</span>
          <p class="text-sm mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsum, ratione?
            Beatae
            blanditiis eum
            fuga magnam provident unde voluptates. A accusamus alias deserunt eligendi error et nulla pariatur, quae
            ut.</p>
        </div>
      </div>
    </div>
    <div class="flex gap-3 p-3 border-bottom-1 border-black-alpha-10">
      <div>
        <span class="font-bold text-sm">12:34</span>
      </div>
      <div class="flex flex-column flex-1">
        <div class="flex justify-content-between">
          <div>
            <span class="font-bold text-sm">Dr. Paola Leal</span>
            <span class="text-sm"> - Consultorio</span>
          </div>
          <div>
            <p-button label="Editar" styleClass="p-button-sm py-1"></p-button>
          </div>
        </div>
        <div>
          <span class="text-primary text-sm">Interconsulta</span>
          <p class="text-sm mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsum, ratione?
            Beatae
            blanditiis eum
            fuga magnam provident unde voluptates. A accusamus alias deserunt eligendi error et nulla pariatur, quae
            ut.</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="header p-3  border-top-1 border-black-alpha-10">
      <span class="font-bold text-primary text-sm">Miercoles 9 de Septiembre 2022</span>
    </div>
    <div class="flex gap-3 p-3 border-bottom-1 border-black-alpha-10">
      <div>
        <span class="font-bold text-sm">12:34</span>
      </div>
      <div class="flex flex-column flex-1">
        <div class="flex justify-content-between">
          <div>
            <span class="font-bold text-sm">Dr. Paola Leal</span>
            <span class="text-sm"> - Consultorio</span>
          </div>
          <div>
            <p-button label="Editar" styleClass="p-button-sm py-1"></p-button>
          </div>
        </div>
        <div>
          <span class="text-primary text-sm">Historia clínica pediátrica</span>
          <p class="text-sm mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsum, ratione?
            Beatae
            blanditiis eum
            fuga magnam provident unde voluptates. A accusamus alias deserunt eligendi error et nulla pariatur, quae
            ut.</p>
        </div>
      </div>
    </div>
    <div class="flex gap-3 p-3 border-bottom-1 border-black-alpha-10">
      <div>
        <span class="font-bold text-sm">12:34</span>
      </div>
      <div class="flex flex-column flex-1">
        <div class="flex justify-content-between">
          <div>
            <span class="font-bold text-sm">Dr. Paola Leal</span>
            <span class="text-sm"> - Consultorio</span>
          </div>
          <div>
            <p-button label="Editar" styleClass="p-button-sm py-1"></p-button>
          </div>
        </div>
        <div>
          <span class="text-primary text-sm">Interrogatorio</span>
          <p class="text-sm mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsum, ratione?
            Beatae
            blanditiis eum
            fuga magnam provident unde voluptates. A accusamus alias deserunt eligendi error et nulla pariatur, quae
            ut.</p>
        </div>
      </div>
    </div>
  </div>
</div>

