<div class="flex my-3 mr-3 lg:hidden justify-content-end align-items-center">
  <p-button label="Nueva medicación" styleClass="p-button-sm" [routerLink]="['../nueva-medicacion']"></p-button>
</div>
<p-accordion class="lg:hidden">
  <p-accordionTab header="CEFAXONA SOL INY FCO AMP 1G IM">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </p-accordionTab>
  <p-accordionTab header="CEFURACET TAB 500MG">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
      architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
      voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
  </p-accordionTab>
  <p-accordionTab header="PARACETAMOL SOL 100MG/ML FCO GTS 20ML">
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
      cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
  </p-accordionTab>
</p-accordion>

<div class="p-3 hidden lg:block">

  <div class="flex flex justify-content-end align-items-center">
    <p-button label="Nueva medicación" styleClass="p-button-sm" [routerLink]="['../nueva-medicacion']"></p-button>
  </div>
  <p-panel class="block mt-3" header="Medicamentos">
    <p-table class="mt-2 block" [value]="medicamentos" responsiveLayout="stack" [breakpoint]="'960px'"
             [tableStyle]="{'min-width': '10rem'}">
      <ng-template pTemplate="caption">
        <div class="caption-table block sm:flex justify-content-between align-items-center">
          <div class="p-input-icon-left mr-auto ">
            <i class="pi pi-search"></i>
            <input pInputText type="text" class="w-full"
                   placeholder="Buscar"/>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Vía</th>
          <th>Frecuencia</th>
          <th>Duración</th>
          <th>Alergias</th>
          <th>Horarios</th>
          <th>Estatus</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-medicamento>
        <tr>
          <td>
            <span class="p-column-title font-bold">Nombre:</span>
            <span>{{medicamento.nombre}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Vía:</span>
            <span> {{medicamento.via}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Frecuencia:</span>
            <span>{{medicamento.frecuencia}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Duración:</span>
            <span>{{medicamento.duracion}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Alergias:</span>
            <span> {{medicamento.alergias}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Horarios:</span>
            <span>{{medicamento.horarios}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Estatus:</span>
            <span>{{medicamento.estatus}}</span>
          </td>
          <td>
            <div class="flex justify-content-center align-items-center w-full">
              <i class="pi pi-ellipsis-v text-primary text-xl font-bold cursor-pointer" (click)="menu.toggle($event)"></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>


</div>

