<div class="flex my-3 mr-3 lg:hidden justify-content-end align-items-center">
  <p-button label="Nueva medicación" styleClass="p-button-sm" [routerLink]="['../nueva-medicacion']"></p-button>
</div>
<p-accordion class="lg:hidden">
  <p-accordionTab header="CEFAXONA SOL INY FCO AMP 1G IM">
    <div class="mb-2">
      <span class="text-base font-bold block">Nombre:</span>
      <span class="text-base ">CEFAXONA SOL INY FCO AMP 1G IM</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Vía:</span>
      <span class="text-base ">IM</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Duración:</span>
      <span class="text-base ">6 días</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Alergias:</span>
      <span class="text-base ">acebutolol (DESDE 2009); aciclovir y sus derivados (desde la infancia)</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Horarios:</span>
      <span class="text-base ">05:00, 11:00, 17:00, 23:00</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Estatus:</span>
      <span class="text-base ">Paciente rechaza</span>
    </div>

    <div class="flex justify-content-center align-items-center w-full">
      <i class="pi pi-ellipsis-v text-primary text-xl font-bold cursor-pointer" (click)="menu.toggle($event)"></i>
    </div>

  </p-accordionTab>
  <p-accordionTab header="CEFURACET TAB 500MG">
    <div class="mb-2">
      <span class="text-base font-bold block">Nombre:</span>
      <span class="text-base ">CEFURACET TAB 500MG</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Vía:</span>
      <span class="text-base ">OR</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Duración:</span>
      <span class="text-base ">6 días</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Alergias:</span>
      <span class="text-base ">acebutolol (DESDE 2009); aciclovir y sus derivados (desde la infancia)</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Horarios:</span>
      <span class="text-base ">05:00, 11:00, 17:00, 23:00</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Estatus:</span>
      <span class="text-base ">Paciente rechaza</span>
    </div>

    <div class="flex justify-content-center align-items-center w-full">
      <i class="pi pi-ellipsis-v text-primary text-xl font-bold cursor-pointer" (click)="menu.toggle($event)"></i>
    </div>

  </p-accordionTab>
  <p-accordionTab header="PARACETAMOL SOL 100MG/ML FCO GTS 20ML">
    <div class="mb-2">
      <span class="text-base font-bold block">Nombre:</span>
      <span class="text-base ">PARACETAMOL SOL 100MG/ML FCO GTS 20ML</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Vía:</span>
      <span class="text-base ">OR</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Duración:</span>
      <span class="text-base ">6 días</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Alergias:</span>
      <span class="text-base ">acebutolol (DESDE 2009); aciclovir y sus derivados (desde la infancia)</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Horarios:</span>
      <span class="text-base ">05:00, 11:00, 17:00, 23:00</span>
    </div>
    <div class="mb-2">
      <span class="text-base font-bold block">Estatus:</span>
      <span class="text-base ">Paciente rechaza</span>
    </div>

    <div class="flex justify-content-center align-items-center w-full">
      <i class="pi pi-ellipsis-v text-primary text-xl font-bold cursor-pointer" (click)="menu.toggle($event)"></i>
    </div>

  </p-accordionTab>
</p-accordion>

<div class="p-3 hidden lg:block">

  <div class="flex flex justify-content-end align-items-center">
    <p-button label="Nueva medicación" styleClass="p-button-sm" [routerLink]="['../nueva-medicacion']"></p-button>
  </div>
  <p-panel class="block mt-3" header="Medicamentos">
    <p-table class="mt-2 block" [value]="medicamentos" responsiveLayout="stack" [breakpoint]="'960px'"
             [tableStyle]="{'min-width': '10rem'}">
      <ng-template pTemplate="caption">
        <div class="caption-table block sm:flex justify-content-between align-items-center">
          <div class="p-input-icon-left mr-auto ">
            <i class="pi pi-search"></i>
            <input pInputText type="text" class="w-full"
                   placeholder="Buscar"/>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Vía</th>
          <th>Frecuencia</th>
          <th>Duración</th>
          <th>Alergias</th>
          <th>Horarios</th>
          <th>Estatus</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-medicamento>
        <tr>
          <td>
            <span class="p-column-title font-bold">Nombre:</span>
            <span>{{medicamento.nombre}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Vía:</span>
            <span> {{medicamento.via}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Frecuencia:</span>
            <span>{{medicamento.frecuencia}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Duración:</span>
            <span>{{medicamento.duracion}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Alergias:</span>
            <span> {{medicamento.alergias}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Horarios:</span>
            <span>{{medicamento.horarios}}</span>
          </td>
          <td>
            <span class="p-column-title font-bold">Estatus:</span>
            <span>{{medicamento.estatus}}</span>
          </td>
          <td>
            <div class="flex justify-content-center align-items-center w-full">
              <i class="pi pi-ellipsis-v text-primary text-xl font-bold cursor-pointer"
                 (click)="menu.toggle($event)"></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

</div>

<p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
