/* You can add global styles to this file, and also import other style files */

:root {
  --app-header-height: 72px;
  --app-max-width: 1440px;
  // --maskbg: rgba(0, 0, 0, 0);

  @media screen and (min-width: 1440px) {
    --app-max-width: 1600px;
  }

  @media screen and (min-width: 1600px) {
    --app-max-width: 1900px;
  }

  @media screen and (min-width: 1900px) {
    --app-max-width: 2100px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Arial", serif;
  background-color: white;
}

.app-container {
  width: 100%;
  max-width: var(--app-max-width);
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.p-calendar {
  .p-inputtext {
    padding: 0.55rem 0.75rem;
  }

  .p-inputtext + .p-button.p-button-icon-only {
    padding: 0.55rem 0;
  }
}

.no-resize{
  resize:none;
}

.req {
  &::before {
    content: '*';
    color: var(--primary-color);
    font-weight: bold;
    font-size:16px;
  }
}
