<div class="info-doctor">
  <div class="flex align-items-center">
    <app-sidebar-profile-doctor></app-sidebar-profile-doctor>
    <div class="flex flex-column">
      <h2 class="text-primary text-sm md:text-xl">Dr. Shehin de Silva</h2>
      <span class="text-xs sm:text-sm font-bold">Servicio de torre de consultorios Universidad / 3000-01</span>
    </div>
  </div>
  <div class="flex align-items-center justify-content-end sm:gap-4 logos">
    <i class="pi pi-question-circle hidden md:flex text-primary sm:text-2xl"></i>
    <img class="common" src="assets/images/common-ech.svg" alt="">
    <img class="hospital" src="assets/images/hospital-angeles.svg" alt="">
<!--    <div class="flex flex-wrap gap-2 icons">-->
<!--      <i class="pi pi-bell mr-2 sm:mr-4 p-text-secondary text-2xl" pBadge value="2"></i>-->
<!--      <i class="pi pi-envelope mr-2 sm:mr-4  p-text-secondary text-2xl" pBadge [value]="'9+'" severity="danger"></i>-->
<!--      <i class="pi pi-calendar mr-1 p-text-secondary text-2xl" ></i>-->
<!--    </div>-->
  </div>
</div>
