<div class="hamburger" (click)="display = true">
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
</div>
<p-sidebar [(visible)]="display" >
  <div class="sidebar flex flex-column h-full">
    <div class="flex align-items-center flex-column flex-grow-1">
      <p-avatar class="avatar my-4" image="assets/images/avatar.png" styleClass="mr-2" size="xlarge"
                shape="circle"></p-avatar>
      <h3 class="mt-2">Dr Shehin de Silva</h3>
      <span class="block mt-4">Username:</span>
      <span class="block font-semibold">shehinsilva</span>
      <span class="block mt-4">Email:</span>
      <span class="block font-semibold">shehinsilva@hangeles.com</span>
      <span class="block mt-4">Phone:</span>
      <span class="block font-semibold">(425) 555-1212</span>
      <p-button styleClass="mt-4 p-button-sm" label="Account settings"></p-button>
    </div>
    <div class="flex justify-content-center">
      <p-button (click)="closeSession()"  pRipple icon="pi pi-sign-out" styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
    </div>
  </div>
</p-sidebar>
